* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.3rem;
    font-family: 'Cabin', sans-serif;
    background: #Eff1f3;
    overflow: hidden;
}

.foreground {
    display: flex;
}

.left-side {
    height: 100vh;
    background-color: #8e9da4;
    width: 20%;
    text-align: right;
}

.main-content {
    width: 80%;
    height: 100vh;
}

.content-title {
    height: 20%;
    padding-right: 20%;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.friday-section,
.sunday-section {
    height: 20%;
}

.saturday-section {
    height: 40%;
}

.day-title {
    background-color: #b08e61;
    width: 30%;
    border-radius: 4px;
    padding-left: 5rem;
    margin-left: -4rem;
    text-transform: uppercase;
}

.day-section-content {
    padding-left: 1rem;
}

.section-content {
    padding-left: 2rem;
}

.quote {
    color: #1e5222;
    font-style: italic;
}

.hidden {
    visibility: hidden;
}

.left-side p {
    padding-right: 1rem;
}

.padding-t-b {
    padding: 0.6rem 0;
}

a {
    color: #333;
    text-decoration: none;
}

.logo {
    font-family: 'Source Code Pro', monospace;
    color: #173753;
}

.logo > .accent {
    font-weight: 300;
    color: #FE8F2D;
}

.promo-image {
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
}

.promo-image img {
    width: 400px;
}

.details {
    flex: 1;
    height: 100%;
    background: #fff;
    box-shadow: -3px 3px 9px rgba(0, 0, 0, 0.02);
}

.inner {
    padding: 100px;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.main-header h1 {
    display: flex;
    align-items: center;
}

.main-header h1 strong {
    font-size: 2rem;
    padding-right: 15px;
    margin-right: 15px;
}

.main-header h1 small {
    font-size: 1rem;
    color: #444;
}

.main-header p {
    font-size: 1rem;
}

.links a {
    font-size: 1.5rem;
    padding-right: 3rem;
}


.links p {
    font-size: 0.8rem;
}

.copyright {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.6rem;
    color: #aaa;
    margin: 10px;
}

.description {
    margin: 50px 0;
}

.description p:not(:last-of-type) {
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {

    .main-content {
        padding-right: 1rem;
    }

    .day-title {
        width: 60%;
        margin-left: -3.5rem;
        padding-left: 3.8rem
    }

    .day-section-content {
        padding-left: 0.4rem;
    }
    
    .section-content {
        padding-left: 1rem;
    }

    .left-side p {
        padding-right: 0.4rem;
    }
}
